{% extends 'base.html' %}
{% block content %}
<div class="starter-template">
        <h1>Zaplanuj swoje zakupy!</h1>
        <p class="lead">Podczas pandemii istnieje potrzeba dobrego planowania zakupów.<br> Kupuj roztropnie, a oszczędzisz czas oraz pieniądze</p>
        <svg class="bi bi-bag" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z" clip-rule="evenodd"/>
                <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
        </svg>
        <h1>
                <br>
                <a href="/polls/form" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Rozpocznij planowanie</a>
        </h1>

</div>
{% endblock %}
