{% extends 'base.html' %}

{% load django_tables2 %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planer zakupów</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
</head>
<body>


<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" >>Planer zakupów</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Formularz</a>
          </li>
        </ul>
      </div>
    </nav>
-->
{% block content %}

<main role="main" class="container">


<div class="starter-template">
        <h1>Lista zakupów</h1>
        <p class="lead">Podczas pandemii istnieje potrzeba dobrego planowania zakupów.<br> Poniższa lista pomoże lepiej zarządzać czasem i pieniędzmi.</p>
    <br>
    {% for sklep in sklepy %}
            <h2>{{sklep.nazwa_sklep}}</h2>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Nazwa Towaru</th>
                  <th scope="col">Cena</th>
                  <th scope="col">Ilość</th>
                </tr>
              </thead>
              <tbody>


    {% for pozycja in pozycje %}
    {% if pozycja.nazwa_sklep|upper == sklep.nazwa_sklep|upper %}
    <tr>
      <th scope="row">{{pozycja.id}}</th>
      <td>{{ pozycja.nazwa_towar}}</td>
      <td>{{ pozycja.cena}}</td>
      <td>{{ pozycja.ilosc}}</td>
    </tr>
    {% endif %}
  {% endfor %}

  </tbody>
</table>
            {% endfor %}

    {% for cat in object_list %}
    <h1>test {{ cat.total_price }}</h1>
    {% endfor %}

    <br><h2>Podsumowanie zakupów:</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nazwa Towaru</th>
      <th scope="col">Cena</th>
      <th scope="col">Ilość</th>
    </tr>
  </thead>
  <tbody>

    {% for pozycja in pozycje %}
    <tr>
      <th scope="row">{{pozycja.id}}</th>
      <td>{{ pozycja.nazwa_towar}}</td>
      <td>{{ pozycja.cena}}</td>
      <td>{{ pozycja.ilosc}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
      <h2 align="right">Do zapłaty: {{suma}} zł</h2>



</main>
{% endblock %}
